@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background font-sans
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarMenu {
  @apply text-lg cursor-pointer hover:text-secondary
}

.btn {
  @apply px-6 py-2 border-2 border-blackk rounded-md text-sm text-white
}

.feature_card {
  @apply bg-white w-64 h-72 flex justify-center items-center 
}

.feature_card img{
  @apply w-16
}

.input-form {
  @apply border-[1px] rounded-md px-2 py-1
}

.img-grid {
  @apply  bg-slate-300 rounded-lg min-h-[150px] flex justify-center items-center cursor-pointer relative overflow-hidden
} 

.img-btn {
  @apply absolute top-1 right-1 text-3xl text-secondary w-4 h-4 flex items-center justify-center
}